@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 235px;
  width: 1440px;
  height: 1000px;
  overflow: hidden;
  z-index: 100;
}

/* Login As */

.login-as-container {
  position: relative;
  width: 425px;
  height: 490px;
  padding: 10px 30px;
  background: #1b0e60;
  border-radius: 10px;
}

.login-as-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0 50px 0;
}

.login-as-header header {
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
}

.login-as-button {
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  background: #e1aa74;
  border-radius: 24px;
  width: 200px;
  height: 60px;
  margin-left: 85px;
  border: none;
  outline: none;
  cursor: pointer;
}

.login-as-button {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}

/* Login Auth */

.login-auth-container {
  position: relative;
  width: 425px;
  height: 490px;
  padding: 10px 30px;
  background: #1b0e60;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-auth-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 50px;
  margin-bottom: 40%;
}

.login-auth-header header {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
}

.login-google {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  padding: 30px;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 30%;
  cursor: pointer;
}

.login-google img {
  width: 50px;
  position: absolute;
  left: 70px;
}

.login-google p {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 80px;
}

/* Faculty Homepage */

.faculty-page-container {
  position: relative;
  width: 1440px;
  height: 700px;
  padding: 10px 30px;
  background: #192655;
  border-radius: 12px;
}

.faculty-page-box {
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
}

.faculty-page-box img {
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 5px;
}

.faculty-page-box h1 {
  position: relative;
  left: 200px;
  bottom: 140px;
  font-size: 80px;
  font-weight: 600;
  color: #ffffff;
}

.faculty-page-button {
  position: inherit;
  top: 80px;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  background: #e1aa74;
  border-radius: 24px;
  width: 250px;
  height: 65px;
  text-decoration: none;
  color: #000000;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.calendar {
  position: relative;
  bottom: 370px;
  left: 300px;
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  padding: 30px 20px;
  border-radius: 10px;
}

.calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.calendar .header .month {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: #1d1d1d;
}

.calendar .header .btns {
  display: flex;
  gap: 10px;
}

.calendar .header .btns .btn {
  width: 50px;
  height: 40px;
  background: #e1aa74;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.calendar .header .btns .btn:hover {
  transform: scale(1.05);
}

.calendar .weekdays {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.calendar .weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.calendar .days {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.calendar .days .day {
  width: calc(100% / 7 - 10px);
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s;
  user-select: none;
}

.calendar .days .day:not(.next):not(.prev):hover {
  color: #ffffff;
  background: #e1aa74;
  transform: scale(1.05);
}

.calendar .days .day.next,
.calendar .days .day.prev {
  color: #ccc;
}

.calendar .days .day.today {
  color: #fff;
  background: #e1aa74;
}

.credits a {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #aaa;
}

.credits span {
  color: #f90a39;
}

/* Faculty Student List */

.faculty-student-list-container {
  position: relative;
  width: 1440px;
  height: 700px;
  padding: 10px 30px;
  background: #192655;
  border-radius: 12px;
}

.faculty-student-list-btn {
  position: relative;
  top: 5px;
  right: 15px;
  width: 150px;
  height: 50px;
  background: #d57744;
  color: #000000;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  place-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  margin-bottom: 20px;
  border: none;
}

.faculty-student-list-table {
  background: #ffffff;
  overflow: scroll;
}

.faculty-student-list-th,
.faculty-student-list-td {
  text-align: center;
  width: 975px;
}

.faculty-student-table,
.faculty-student-list-th,
.faculty-student-list-td {
  border: 1px solid #000000;
}

.arrow {
  width: 60px;
  height: 60px;
  background: #000000;
  position: relative;
  top: -40%;
  left: -10%;
  transform: rotate(-45deg);
  cursor: pointer;
}

.arrow::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  background: #ffffff;
  top: 10px;
  left: 10px;
}

/* Faculty Student Grading */

.faculty-student-grading-container {
  position: relative;
  width: 1440px;
  height: 700px;
  padding: 10px 30px;
  background: #192655;
  border-radius: 12px;
}

.faculty-student-grading-h1 {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}

.faculty-student-grading-search-form {
  position: relative;
  top: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.faculty-student-grading-search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 28px;
  background: #d57744;
}

.faculty-student-search-input {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

.faculty-student-search-input::placeholder,
.faculty-student-search-icon {
  color: rgba(0, 0, 0, 0.5);
}

.faculty-student-grading-table {
  position: relative;
  top: 25%;
  background: #ffffff;
  overflow: scroll;
}

.faculty-student-grading-th,
.faculty-student-grading-td {
  text-align: center;
  width: 975px;
}

.faculty-student-grading-table,
.faculty-student-grading-th,
.faculty-student-grading-td {
  border: 1px solid #000000;
}

/* Student Search */

.student-search-container {
  position: relative;
  width: 1440px;
  height: 700px;
  padding: 10px 30px;
  background: #192655;
  border-radius: 12px;
}

.student-search-info {
  width: max-content;
  height: 50px;
  display: flex;
  position: absolute;
  top: 10%;
  right: 100px;
  align-items: center;
  padding: 14px;
  border-radius: 5px;
  background: #d9d9d9;
  font-size: 40px;
  font-weight: 700;
}

.student-search-box {
  flex-direction: column;
  margin-top: 25px;
  margin-left: 25px;
}

.student-search-box img {
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 5px;
}

.student-filter-info {
  background: #d9d9d9;
  width: max-content;
  display: flex;
  position: absolute;
  top: 10%;
  right: 30px;
  border-radius: 5px;
  align-items: center;
  padding: 7px;
  width: 55px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.student-search-input {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: max-content;
}

.student-filter-info:hover {
  background: #f2f2f2;
}

.student-filter-info span {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}

.student-search-table,
.student-search-td {
  width: 100%;
  height: 65px;
  position: relative;
  top: 10%;
  background: #ffffff;
  overflow: scroll;
  text-align: left;
  padding: 20px;
  font-size: 15px;
  font-weight: 700;
}

.student-search-table,
.student-search-td {
  border: 2px solid #000000;
}

/* Student Schedule */

.student-schedule-container {
  position: relative;
  width: 1440px;
  height: 700px;
  padding: 10px 20px;
  background: #192655;
  border-radius: 12px;
}

.student-schedule-btn {
  position: relative;
  top: 9px;
  left: 30%;
  width: max-content;
  height: 50px;
  background: #d57744;
  color: #000000;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 20px;
  border: none;
}

.student-schedule-left {
  position: absolute;
  bottom: 3%;
  width: max-content;
  height: 660px;
  margin-top: 10px;
  padding: 10px 30px;
  background: #ffffff;
  border-radius: 12px;
}

.student-schedule-box img {
  background: #d9d9d9;
  position: relative;
  left: 85px;
  border-radius: 10px;
}

.student-schedule-box h1 {
  margin-bottom: 50px;
}

.student-schedule-sign-out {
  position: absolute;
  left: 85px;
  background: #e1aa74;
  border-radius: 12px;
  width: 250px;
  height: 65px;
  text-decoration: none;
  color: #000000;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
}

.student-schedule-table {
  position: relative;
  top: 5%;
  left: 31%;
  background: #ffffff;
  overflow: scroll;
}

.student-schedule-th,
.student-schedule-td {
  text-align: center;
  width: 160px;
}

.student-schedule-table,
.student-schedule-th,
.student-schedule-td {
  border: 1px solid #000000;
}

/* Student Grades */

.student-grades-table {
  position: relative;
  top: 5%;
  left: 31%;
  background: #ffffff;
  overflow: scroll;
}

.student-grades-th,
.student-grades-td {
  text-align: center;
  width: 118px;
}

.student-grades-table,
.student-grades-th,
.student-grades-td {
  border: 1px solid #000000;
}
