/* @import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Imprima", sans-serif; */
  font-family: "Junge", cursive;
}

html {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

div::-webkit-scrollbar {
  height: 1px;
  scrollbar-width: thin !important;
}

div::-webkit-scrollbar-thumb {
  border-radius: 60px;
}

/* Login As */

.login-as-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 425px;
  /* height: 490px; */
  padding: 20px;
  background: #1b0e60;
  border-radius: 10px;
}

.login-as-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 35px 0 50px 0;
}

.login-as-header header {
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
}

.login-as-button {
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  background: #e1aa74;
  border-radius: 24px;
  width: 100%;
  height: 80px;
  /* margin-left: 85px; */
  border: none;
  outline: none;
  cursor: pointer;
}

.login-as-button {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
}

/* Login Auth */

.login-auth-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 425px;
  height: 490px;
  padding: 10px 30px;
  background: #1b0e60;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-auth-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 50px;
  margin-bottom: 40%;
}

.login-auth-header header {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
}

.login-google {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  padding: 30px;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 30%;
  cursor: pointer;
}

.login-google img {
  width: 50px;
  position: absolute;
  left: 70px;
}

.login-google p {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 20%;
  text-decoration: none;
}

/* Faculty Homepage */

.faculty-page-container {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 1440px;
  height: 700px;
  padding: 10px 30px;
  background: #192655;
  border-radius: 12px;
}

.faculty-page-box {
  margin-top: 50px;
  margin-left: 50px;
}

.faculty-page-box img {
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 5px;
}

.faculty-page-box h1 {
  position: relative;
  left: 200px;
  bottom: 120px;
  font-size: 80px;
  font-weight: 600;
  color: #ffffff;
}

.faculty-page-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 15px;
  background: #e1aa74;
  border-radius: 24px;
  width: 350px;
  height: 105px;
  text-decoration: none;
  color: #000000;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.calendar {
  position: absolute;
  top: 31%;
  left: 30%;
  width: 100%;
  max-width: 67%;
  background: #ffffff;
  padding: 30px 20px;
  border-radius: 10px;
  overflow-y: scroll;
  height: 65%;
}

.calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.calendar .header .month {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: #1d1d1d;
}

.calendar .header .btns {
  display: flex;
  gap: 10px;
}

.calendar .header .btns .btn {
  width: 50px;
  height: 40px;
  background: #e1aa74;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.calendar .header .btns .btn:hover {
  transform: scale(1.05);
}

.calendar .weekdays {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.calendar .weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.calendar .days {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.calendar .days .day {
  width: calc(100% / 7 - 10px);
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s;
  user-select: none;
}

.calendar .days .day:not(.next):not(.prev):hover {
  color: #ffffff;
  background: #e1aa74;
  transform: scale(1.05);
}

.calendar .days .day.next,
.calendar .days .day.prev {
  color: #ccc;
}

.calendar .days .day.today {
  color: #fff;
  background: #e1aa74;
}

/* Faculty Student List */

.faculty-student-list-container {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 1440px;
  height: 700px;
  padding: 10px 30px;
  background: #192655;
  border-radius: 12px;
}

.faculty-student-list-btn {
  position: relative;
  top: 5px;
  right: 15px;
  width: 150px;
  height: 50px;
  background: #d57744;
  color: #000000;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  place-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  margin-bottom: 20px;
  border: none;
}

.faculty-student-list-container-table {
  background: #ffffff;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  height: 89%;
}

.faculty-student-list-table,
.faculty-student-grading-table {
  position: relative;
  left: 0.9%;
  margin-block: 10px;
  width: 99%;
  border-collapse: collapse;
}

.faculty-student-list-th,
.faculty-student-list-td,
.faculty-student-grading-th,
.faculty-student-grading-td {
  text-align: center;
  padding: 5px;
}

.faculty-student-table,
.faculty-student-list-th,
.faculty-student-list-td,
.faculty-student-grading-table,
.faculty-student-grading-th,
.faculty-student-grading-td {
  border: 1px solid #000000;
}

.arrow-back {
  position: absolute;
  top: 5%;
  left: 10%;
}

.arrow-back ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.arrow-back span {
  color: #000000;
  text-decoration: none;
  font-size: 50px;
  font-weight: 700;
  cursor: pointer;
}

/* Faculty Student Grading */

.faculty-student-grading-container {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 1440px;
  height: 700px;
  padding: 10px 30px;
  background: #192655;
  border-radius: 12px;
}

.faculty-student-grading-container-table {
  position: relative;
  top: 23%;
  background: #ffffff;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  height: 50%;
}

.faculty-student-grading-h1 {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}

.faculty-student-grading-search-form {
  position: relative;
  gap: 10px;
  top: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.faculty-student-grading-search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 10px;
  background: #d57744;
}

.faculty-student-grading-search-input {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

.faculty-student-grading-search-icon {
  font-size: 24px;
  font-weight: 700;
}

.faculty-student-grading-filter-info {
  background: #d57744;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.faculty-student-grading-filter-info span {
  font-size: 50px;
  font-weight: 700;
}

.faculty-student-search-input::placeholder,
.faculty-student-search-icon {
  color: rgba(0, 0, 0, 0.5);
}

/* Student Search */

.student-search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1440px;
  height: 700px;
  padding: 10px 30px;
  background: #192655;
  border-radius: 12px;
}

.student-search-info {
  width: max-content;
  height: 50px;
  display: flex;
  position: absolute;
  top: 10%;
  right: 100px;
  align-items: center;
  padding: 14px;
  border-radius: 5px;
  background: #d9d9d9;
  font-size: 40px;
  font-weight: 700;
}

.student-search-box {
  flex-direction: column;
  margin-top: 25px;
  margin-left: 25px;
}

.student-search-box img {
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 5px;
}

.student-filter-info {
  background: #d9d9d9;
  width: max-content;
  display: flex;
  position: absolute;
  top: 10%;
  right: 30px;
  border-radius: 5px;
  align-items: center;
  padding: 7px;
  width: 55px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.student-search-input {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: max-content;
}

.student-filter-info:hover {
  background: #f2f2f2;
}

.student-filter-info span {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}

.student-search-table,
.student-search-td {
  width: 100%;
  height: 65px;
  position: relative;
  top: 10%;
  background: #ffffff;
  overflow: scroll;
  text-align: left;
  padding: 20px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.student-search-table,
.student-search-td {
  border: 2px solid #000000;
}

/* Student Schedule */

.student-schedule-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1440px;
  height: 700px;
  padding: 10px 20px;
  background: #192655;
  border-radius: 12px;
}

.student-schedule-right ul {
  position: relative;
  left: 28.1%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.student-schedule-right li {
  display: flex;
  margin-top: 10px;
  background: #d57744;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 139px;
  height: 33px;
}

.student-schedule-right a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
}

.student-schedule-left {
  position: absolute;
  bottom: 3%;
  width: max-content;
  height: 660px;
  margin-top: 10px;
  padding: 10px 30px;
  background: #ffffff;
  border-radius: 12px;
}

.student-schedule-box img {
  background: #d9d9d9;
  position: relative;
  left: 80px;
  border-radius: 10px;
}

.student-schedule-box h1 {
  margin-bottom: 100px;
}

.student-schedule-box ul {
  list-style: none;
}

.student-schedule-box li {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 20%;
  background: #d57744;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 213px;
  height: 49px;
  border-radius: 12px;
}

.student-schedule-box a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
}

.student-schedule-table {
  position: relative;
  top: 5%;
  left: 28%;
  background: #ffffff;
  overflow: scroll;
}

.student-schedule-th,
.student-schedule-td {
  text-align: center;
  width: 160px;
}

.student-schedule-table,
.student-schedule-th,
.student-schedule-td {
  border: 1px solid #000000;
}

/* Student Grades */

.student-grades-table {
  position: relative;
  top: 0;
  left: 28%;
  background: #ffffff;
  overflow: scroll;
}

.student-grades-th,
.student-grades-td {
  text-align: center;
  width: 118px;
}

.student-grades-table,
.student-grades-th,
.student-grades-td {
  border: 1px solid #000000;
}

/* Admin Homepage */

.admin-right-section {
  position: absolute;
  height: 100%;
  background-color: #1b0e60;
  max-width: 348px;
  width: 100%;
  letter-spacing: 3.6px;
  margin: 0 auto;
  padding: 39px 34px 23px;
}

.admin-right-section ul {
  list-style: none;
}

.admin-right-section li {
  margin-bottom: 25px;
  background: #d57744;
  text-align: center;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
  width: 273px;
  height: 76px;
}

.admin-right-section a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 40px;
}

.admin-sign-out {
  position: absolute;
  bottom: 3%;
  background: #d57744;
  text-align: center;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
  width: 273px;
  height: 76px;
}

.admin-arrow {
  position: absolute;
  top: 3%;
  left: 3%;
}

.admin-arrow ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.admin-arrow span {
  color: #000000;
  text-decoration: none;
  font-size: 50px;
  font-weight: 700;
  cursor: pointer;
}

.menu-item {
  background-color: rgba(213, 119, 68, 1);
  width: 100%;
  max-width: 411px;
  white-space: nowrap;
  padding: 29px 70px;
  border: 1px solid rgba(0, 0, 0, 1);
  margin-top: 18px;
}

.menu-item:first-child {
  margin-top: 0;
}

.sign-out {
  margin-top: 217px;
  max-width: 424px;
}

.admin-left-section {
  position: absolute;
  left: 18.1%;
  width: 100%;
  height: 100%;
}

.admin-left-section h1 {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 64px;
  font-weight: 700;
}

.admin-search {
  width: 447px;
  height: 50px;
  display: flex;
  position: absolute;
  top: 5%;
  left: 50%;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  background: #d57744;
  font-size: 40px;
  font-weight: 700;
}

.admin-search span {
  font-size: 40px;
  font-weight: 700;
}

.admin-search-input {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 447px;
}

.admin-filter-info {
  background: #d57744;
  width: max-content;
  display: flex;
  position: absolute;
  top: 5%;
  left: 74%;
  border-radius: 10px;
  align-items: center;
  padding: 7px;
  width: 55px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.admin-filter-info span {
  font-size: 40px;
  font-weight: 700;
}

/* Admin Faculty */

.admin-left-section {
  background-color: #d9d9d9;
}

.admin-faculty-container {
  background-color: #d9d9d9;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  gap: 18px;
  margin: 35px 0 -4px;
  margin-left: 1.8%;
  padding: 24px 30px 91px;
  border: 1px solid #000;
  overflow: auto;
  height: 83%;
}

.admin-faculty-member {
  align-items: center;
  text-align: center;
  width: 229px;
  height: 258px;
  border-radius: 10px;
  margin-left: 1%;
  margin-bottom: 24px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px 36px;
  border: 1px solid #000;
  cursor: pointer;
}

.admin-faculty-image-wrapper {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 148px;
  height: 148px;
  padding: 15px 10px 1px;
  border: 1px solid #000;
}

.admin-faculty-member-img {
  aspect-ratio: 0.99;
  object-fit: contain;
  object-position: center;
  width: 129px;
}

.admin-faculty-member h2 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  letter-spacing: 2.4px;
  margin-top: 37px;
}

/* Admin Member */

.admin-box-btn {
  position: absolute;
  top: 4%;
  left: 50%;
}

.admin-save-btn {
  background: #24850c;
  font-size: 24px;
  font-weight: 700;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  width: 170px;
}

.admin-edit-btn {
  background: #cebb18;
  font-size: 24px;
  font-weight: 700;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  width: 170px;
}

.admin-delete-btn {
  background: #ce1818;
  font-size: 24px;
  font-weight: 700;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  width: 170px;
}

.admin-member-container,
.admin-edit-container {
  position: absolute;
  top: 15%;
  left: 1%;
  width: 76%;
  padding: 24px 30px 34px;
  border: 1px solid #000;
}

.admin-member-content,
.admin-edit-content {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 257px;
  height: 275px;
  padding: 15px 10px 1px;
  border: 1px solid #000;
}

.admin-member-img,
.admin-edit-img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 258px;
}

.admin-member-info,
.admin-edit-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  padding: 10px;
  position: absolute;
  top: 7%;
  left: 22%;
}

.admin-member-info h3 {
  font-size: 50px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.admin-member-strands,
.admin-edit-strands {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  top: 475px;
  left: 1%;
  width: 76%;
  height: max-content;
  padding: 24px 30px 34px;
  border: 1px solid #000;
}

.member-strand-btn,
.edit-strand-btn {
  background: #d57744;
  font-size: 30px;
  height: max-content;
  font-weight: 700;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
}

.admin-member-container-table,
.admin-edit-container-table {
  background: #ffffff;
  height: max-content;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  height: 300px;
}

.admin-member-table,
.admin-edit-table {
  position: relative;
  left: 0.9%;
  margin-block: 10px;
  width: 99%;
  border-collapse: collapse;
}

.admin-member-th,
.admin-member-td,
.admin-edit-th,
.admin-edit-td {
  text-align: center;
  padding: 12px;
}

.admin-member-table,
.admin-member-th,
.admin-member-td,
.admin-edit-table,
.admin-edit-th,
.admin-edit-td {
  border: 1px solid #000;
}

.admin-edit-td:hover {
  background-color: #d9d9d9;
  cursor: text;
}

/* Admin Edit */

.admin-edit label {
  font-size: 50px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.admin-edit input[type="text"] {
  width: 754px;
  font-size: 24px;
  font-weight: 700;
}

.admin-edit input[type="date"] {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.admin-edit input[type="number"] {
  text-align: center;
  width: 100px;
  font-size: 24px;
  font-weight: 700;
}

.admin-edit input,
.admin-edit select {
  display: inline-block;
  position: relative;
  bottom: 10px;
  left: 10px;
  color: #000;
  padding: 10px 10px;
}

.admin-edit select {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
